.AboutUs{
    position: relative fixed;
    color:black;
    z-index: 1;
    background-color: #EBF5FB;
    padding-bottom: 80px;
    height: 600px;
}
#AboutUs .head{
    color:darkorange;
    font-family: Verdana;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    padding-top: 20px;
}

#AboutUs #Name{
    padding-top: 50px;
}

#AboutUs #text .Name{
    color:black;
}

#AboutUs #text .Name b{
    color: blue;
}

#AboutUs #text span{
    font-size: 20px;
    color: red;
}

#AboutUs #text #myinfo{
    color: darkblue;
}

#AboutUs #text #table1 p{
    font-size: 15px;
}

#AboutUs #text #table1 p span b{
    font-size: 15px;
    color: blue;
}

#AboutUs #text #table1 td{
    padding: 0 2px;
    white-space: nowrap;
}

#AboutUs #text .resumebtn span{
    color: black;
    font-size: 20px;
}

#AboutUs #text .resumebtn a{
    border-radius: 25px;
    color: blue;
    box-shadow: blue 0px 5px 10px;
}

#Image{
    padding-left: 7px;
    padding-right: 160px;
}

#text{
    width:350px;
}

#myinfo{
    width: 550px;
}

@media  screen and (max-width: 600px){
    .AboutUs{
        width: calc(100vw + 100vw);
    }
}